.image {
    display: block;
    margin: auto;
    border: 1px solid #ab2222;
    border-radius: 8px;
    padding: 30px;
    //opacity: 0.5;
    //bottom: 30%;
}

// .title {
//     display: block;
//     margin: auto;
//     //width: 20%;
// }

// .emailLogin {
//     display: block;
//     margin: auto;
//     //top: 40%;
// }

// .passwordLogin {
//     display: block;
//     margin: auto;
//     //top: 29%;
// }

// .staySigned {
//     display: block;
//     margin: auto;
//     //bottom: 26%;
// }

ion-col {
    display: block;
    margin: auto;
    width: 200px;
    height: 100px;
    top: 10px;
}

ion-button {
    display: block;
    margin: auto;
    
}

ion-item {
    margin: auto;
    width: 200px;
}

