<ion-header>
    <ion-toolbar color = "success">
        <ion-buttons slot = "start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> SFML </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot = "start">
                <img src = "https://play-lh.googleusercontent.com/5LIMaa7WTNy34bzdFhBETa2MRj7mFJZWb8gCn_uyxQkUvFx_uOFCeQjcK16c6WpBA3E"/>
            </ion-avatar>
            <ion-label>
                <h1>Mario Lopez</h1>
                <p>Gathered: <span class = "money">  $15,000 </span></p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>